@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  background-color: #e6bb87;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template: 1fr 4fr / 1fr;
  justify-content: center;
  align-items: center;

  background-color: #39a0ed;
}

.container header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header h1 {
  margin: 0;
  padding: 0;

  color: #32322c;

  font-family: "Red Hat Mono", monospace;
  font-size: calc(1.5rem + 3vw);
  text-shadow: 2px 2px #4c6085;
}

.container main {
  display: grid;
  grid-template: 1fr / 1fr 1fr;

  width: 100%;

  justify-items: center;
}

.container main section {
  display: grid;
  height: min-content;
}

div.gameboard {
  display: grid;
  grid-template: repeat(10, 2vw) / repeat(10, 2vw);
  border: 0.5px solid #000;
  width: min-content;
  justify-self: center;
}

div.gameboard > div {
  border: 0.5px solid #000;
  background-color: wheat;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Red Hat Mono", monospace;
  font-size: calc(0.6rem + 1vw);
}

div.gameboard > div.hit {
  font-size: calc(0.6rem + 2vw);
  background-color: coral;
}

div.gameboard > div.miss {
  font-size: calc(0.6rem + 2vw);
  background-color: #4086db;
}

div.placementInterface {
  display: grid;
  grid-template: 1fr 1fr 3fr / 1fr;
  width: 100%;

  justify-items: center;
  align-items: center;
}

div.placementInterface h2 {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Mono", monospace;
  font-size: calc(1.5rem + 1.5vw);
  color: #e6bb87;
  text-shadow: 2px 2px black;

  justify-self: center;
  align-self: center;
  text-align: center;
}

div.placementInterface h3 {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Mono", monospace;
  font-size: calc(1rem + 1vw);

  text-shadow: 1px 1px #e6bb87;

  justify-self: center;
  align-self: center;
}

div.placementInterface .coordinateForm {
  display: grid;

  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;

  justify-items: center;
  align-items: center;

  width: 100%;
}

div.placementInterface .coordinateForm .orientationSelection {
  height: 100%;
  width: 50%;
  font-family: "Red Hat Mono", monospace;
  background-color: white;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

div.placementInterface .coordinateForm .x-coordinate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.placementInterface .coordinateForm .x-coordinate input {
  font-family: "Red Hat Mono", monospace;
  text-align: center;
  width: 20%;
  border-radius: 40%;
  border: 1px solid black;
}
div.placementInterface .coordinateForm .x-coordinate label {
  font-size: calc(0.5rem + 1vw);
}

div.placementInterface .coordinateForm .y-coordinate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.placementInterface .coordinateForm .y-coordinate input {
  font-family: "Red Hat Mono", monospace;
  text-align: center;
  width: 20%;
  border-radius: 40%;
  border: 1px solid black;
}

div.placementInterface .coordinateForm .y-coordinate label {
  font-size: calc(0.5rem + 1vw);
}

div.placementInterface .coordinateForm .errorDiv {
  font-family: "Red Hat Mono", monospace;
  font-size: calc(0.5rem + 1vw);
  text-align: center;
}

div.placementInterface .coordinateForm input[type="submit"] {
  width: 40%;
  height: 100%;

  font-family: "Red Hat Mono", monospace;
  font-size: calc(0.5rem + 1vw);
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}

dialog {
  box-sizing: border-box;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 20px;
}

div.endGameScreen {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  border-radius: 20px;
  border: 5px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: azure;

  font-family: "Red Hat Mono", monospace;
  font-size: calc(0.5rem + 1vw);
}

div.endGameScreen button {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}
